*.a
*.annot
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.install
*.o

*.byte
*.native

_build/
.merlin

_opam/

_esy
_export/
_release/
node_modules/
npm-debug.log
yarn-error.log

scratch/

.vscode/

.DS_Store
